<h2>Simple Toolbar</h2>

<mat-toolbar>
    <span>Hello</span>
</mat-toolbar>

<h2>Toolbar with icon btns</h2>

<mat-toolbar>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <span>Hello</span>
    <span class="navbar-right-spacer"></span>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
</mat-toolbar>

<h2>Multi Row Tool bar</h2>

<mat-toolbar>
    <mat-toolbar-row>
        <span>FirstRow</span>
        <span class="navbar-right-spacer"></span>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span class="navbar-right-spacer"></span>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
